<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="header-title">
				<h1 class="display-4">{{ title }}</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="add-form">
				<form action="/users/add" method="post">
					<div class="form-group">
						<label for="Name">Name:</label>
						<input type="text" class="form-control" name="name" placeholder="Your Name*">
					</div>
					<div class="form-group">
						<label for="Name">Username:</label>
						<input type="text" class="form-control" name="username" placeholder="Your Username*">
					</div>
					<div class="form-group">
						<label for="Name">Password:</label>
						<input type="password" class="form-control" name="password" placeholder="Your Password*">
					</div>
					<div class="form-group">
						<label for="Name">Re-Type Password:</label>
						<input type="password" class="form-control" name="re_password" placeholder="Re-Type Password*">
					</div>
					<div class="form-group">
						<label for="Name">Bio:</label>
						<textarea class="form-control" name="bio" rows="7" placeholder="Your Bio*"></textarea>
					</div>
					<div class="form-group">
						<label for="Name">Your Photo:</label>
						<input type="file" class="form-control" name="photo">
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" name="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>