<div class="page-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="jumbotron">
					<h2 class="display-4">Node CRUD</h2>
					<p>A simple node crud application for learning purpose.</p>
				</div>
			</div>
		</div>
	</div>
</div>

